$def with (videoInfo)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Video Viewer</title>

    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/style.css" rel="stylesheet">

    <style>
      th, td {
      padding: 6px;
      }
    </style>



  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">&nbsp;</h3>
      </div>

      <div class="jumbotron">



        <div class="row">
        <div class="col-md-2">
          <div class="media">
            <img class="mr-3" src="$videoInfo['thumbnail']" width="150px">
            </div>
          </div>
          <div class="col-md-10">
            <h2 class="mt-0">$videoInfo['title']</h2>
          </div>
        </div>
        <div class="row"><p></p></div>



 
      <div data-component-video="">
        <video src="$videoInfo['url']" autoplay="autoplay" controls style="height: 100%; width: 100%;">
        </video>
      </div>
      
      <p>
        <a href="$videoInfo['channel_url']" target="_blank">$videoInfo['uploader']</a> 
        | Views: $videoInfo['view_count']
        | Date: $videoInfo['upload_date']
        | Duration: $videoInfo['duration'] 
        
      </p>

      <p><a href="$videoInfo['webpage_url']" target="_blank">View in YouTube</a></p>

      <p>Tags: $videoInfo['tags']</p>

      <table border="1" id="mytable"> 
        <tr>
          <th>FormatID</th>
          <th>Format</th>
          <th>Size</th>
          <th>Video Codec</th>
          <th>Audio Codec</th>
          <th>Extension</th>
        </tr>
      $for f in videoInfo['formats']:
        <tr>
          <td><a href="/getvideostream?yturl=$videoInfo['webpage_url']&formatID=$f['format_id']">$f['format_id']</a></a></td>
          <td>$f['format']</td>
          <td>$f['filesize']</td>
          <td>$f['vcodec']</td>
          <td>$f['acodec']</td>
          <td>$f['ext']</td>
        </tr>  
      
        
        <!--/getvideostream?yturl=f['webpage_url']&formatID=f['format_id']"-->

      </table>


  
    
    </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Format</h4>
          <p>$videoInfo['format']</p>

          
          

          
          
        </div>

        <div class="col-lg-6">
          <h4>Description</h4>
          <p>$videoInfo['description']</p>

          
          

          
          
        </div>
      </div>

      <footer class="footer">
        <p>© Skylabs 2021</p>
      </footer>

    </div> <!-- /container -->
  

    <script lang="javascript">
      function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
      }

      var table = document.getElementById("mytable");
      for(var i=1, row; row = table.rows[i]; i++)
      {
        //alert(bytesToSize(row.cells[2].innerHTML));
        table.rows[i].cells[2].innerHTML = bytesToSize(row.cells[2].innerHTML);
        
        //video codec column
        if(table.rows[i].cells[3].innerHTML == "none")
        {
          table.rows[i].cells[3].innerHTML = "&nbsp;"
        }
        
        //audio codec clean up
        if(table.rows[i].cells[4].innerHTML == "none")
        {
          table.rows[i].cells[4].innerHTML = "&nbsp;"
        }
      }

    </script>

</body>
</html>